---
import { getCollection, render } from "astro:content";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
import { fromNow } from "@/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts
    .filter((post) => !post.data.isExternal)
    .map((post) => ({
      params: { id: post.id },
      props: { post },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <header class="flex flex-col gap-2 pb-8">
    <h1 class="text-base font-medium text-primary">{post.data.title}</h1>
    <time class="text-sm text-secondary">{fromNow(post.data.date)}</time>
  </header>
  <Prose>
    <Content />
  </Prose>
</Layout>
