---
import { getCollection, render } from "astro:content";
import { fromNow } from "@/lib/utils";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <h1 class="text-base font-medium text-primary">{post.data.title}</h1>
  <time class="text-sm text-secondary">{fromNow(post.data.date)}</time>
  <article
    class="mt-8 prose prose-sm dark:prose-invert prose-headings:text-base prose-headings:font-medium prose-p:text-secondary lg:mt-8"
  >
    <Content />
  </article>
</Layout>
