---

import { getCollection } from "astro:content";
import { isBefore, isEqual } from "date-fns";
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import { filterPosts } from "@/lib/utils";

const allPosts = await getCollection('posts');
const sortedPosts = filterPosts(allPosts);

---

<Layout>
  <h1 class="text-base font-medium text-primary">Posts</h1>
  <section class="flex flex-col gap-2 py-6 lg:py-12">
  <Timeline posts={sortedPosts} />
  </section>
</Layout>
