@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-background: var(--gray-1);
  --color-primary: var(--gray-12);
  --color-secondary: var(--gray-11);
  --color-accent: var(--accent);
  --color-ring: var(--gray-7);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  /* Border colors */
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-border-accent: var(--border-accent);

  --shadow-container: 0 0 0 1px var(--border);
  --shadow-raised: 0px 0px 16px
      color-mix(in srgb, var(--shadow) 10%, transparent),
    0 0 0 1px var(--border);
  --shadow-floating: 0px 4px 16px
      color-mix(in srgb, var(--shadow) 10%, transparent),
    0px 8px 32px color-mix(in srgb, var(--shadow) 5%, transparent),
    0 0 0 1px var(--border);

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Berkley Mono", monospace;
  --font-serif: "Cooper", serif;
  --font-weight-normal: 450;
  --font-weight-medium: 500;

  /* Animations */
  --animate-blink: blink 1s step-end infinite;
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }
}

@layer utilities {
  p.is-empty::before {
    color: var(--gray-9);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .layout-option-inactive {
    --icon-foreground: var(--color-border);
    --icon-background: var(--color-gray-1);
  }

  .layout-option-inactive:hover {
    --icon-foreground: var(--color-gray-5);
  }

  .layout-option-active {
    --icon-foreground: var(--color-blue-300);
    --icon-background: var(--color-blue-50);
  }

  .dark .layout-option-active {
    --icon-foreground: var(--color-blue-600);
    --icon-background: var(--color-blue-900);
  }
}

@layer components {
  .prose {
    --prose-color: var(--color-gray-11);
    --prose-heading-color: var(--color-gray-12);
    --prose-strong-color: var(--color-gray-11);
    --prose-link-color: var(--color-gray-12);
    --prose-code-color: var(--color-gray-12);
    --prose-marker-color: var(--color-accent);
    --prose-link-underline-color: var(--color-gray-7);
    --prose-th-borders: var(--color-border);
    --prose-td-borders: var(--color-border);
    --prose-hr-color: var(--color-border);
    --prose-blockquote-border-color: var(--color-gray-7);
    color: var(--prose-color);
    font-size: 1rem;
    line-height: 1.66em;
    letter-spacing: -0.01em;
    font-weight: var(--font-weight-normal);
  }

  @media (min-width: 48rem) {
    .prose {
      font-size: 1.065rem;
    }
  }

  .prose
    :where(:not(.not-prose, .not-prose *))
    + :where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 12);
  }

  .prose
    :where(:not(.not-prose, .not-prose *))
    + :where(:not(.not-prose, .not-prose p)) {
    margin-top: calc(var(--spacing) * 6);
  }

  .prose h2:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-xl);
    font-family: var(--font-sans);
    letter-spacing: -0.025em;
    color: var(--prose-heading-color);
    font-weight: var(--font-weight-medium);
    margin-top: calc(var(--spacing) * 12);
  }

  .prose h3:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-lg);
    font-family: var(--font-sans);
    color: var(--prose-heading-color);
    font-weight: var(--font-weight-medium);
    margin-top: calc(var(--spacing) * 8);
  }

  .prose h2 + h3:where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 8);
  }

  .prose h4:where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-sm);
    color: var(--prose-heading-color);
    line-height: 2;
    font-weight: var(--font-weight-medium);
    margin-top: calc(var(--spacing) * 6);
  }

  .prose :is(h2, h3, h4):where(:not(.not-prose, .not-prose *)) {
    scroll-margin-top: calc(var(--spacing) * 20);
  }

  @media (min-width: 64rem) {
    .prose :is(h2, h3, h4):where(:not(.not-prose, .not-prose *)) {
      scroll-margin-top: calc(var(--spacing) * 12);
    }
  }

  .prose ol:where(:not(.not-prose, .not-prose *)) {
    padding-left: calc(var(--spacing) * 6);
    list-style-type: decimal;
  }

  .prose ol li:where(:not(.not-prose, .not-prose *)) {
    padding-left: calc(var(--spacing) * 4);
  }

  .prose ol li + li:where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 4);
  }

  .prose ol li:where(:not(.not-prose, .not-prose *))::marker {
    color: var(--prose-strong-color);
    font-weight: 550;
  }

  .prose ul:where(:not(.not-prose, .not-prose *)) {
    padding-left: calc(var(--spacing) * 8);
    list-style-type: square;
  }

  .prose ul li:where(:not(.not-prose, .not-prose *)) {
    padding-left: calc(var(--spacing) * 3);
  }

  .prose ul li + li:where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 4);
  }

  .prose ul li:where(:not(.not-prose, .not-prose *))::marker {
    color: var(--prose-marker-color);
  }

  .prose
    a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-link-color);
    font-weight: var(--font-weight-medium);
    text-underline-offset: 3px;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--prose-link-underline-color);
    -webkit-text-decoration-color: var(--prose-link-underline-color);
    text-decoration-color: var(--prose-link-underline-color);
    text-decoration-thickness: 2px;
  }

  .prose
    a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *))
    code {
    font-weight: var(--font-weight-medium);
  }

  .prose a:where(:not(.not-prose, .not-prose *)):has(> [data-media]) {
    display: block;
  }

  .prose strong:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-strong-color);
    font-weight: var(--font-weight-medium);
  }

  .prose code:where(:not(.not-prose, .not-prose *)) {
    font-variant-ligatures: none;
    font-family: var(--font-mono);
    font-weight: var(--font-weight-medium);
    color: var(--prose-code-color);
  }

  .prose :where(h2, h3, h4) code:where(:not(.not-prose, .not-prose *)) {
    font-weight: var(--font-weight-medium);
  }

  .prose code:where(:not(.not-prose, .not-prose *)):before,
  .prose code:where(:not(.not-prose, .not-prose *)):after {
    content: "`";
    display: inline;
  }

  .prose pre:where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 10);
  }

  .prose pre code * + :where(:not(.not-prose, .not-prose *)) {
    margin-top: 0;
  }

  .prose pre code:where(:not(.not-prose, .not-prose *)):before,
  .prose pre code:where(:not(.not-prose, .not-prose *)):after {
    content: none;
  }

  .prose pre code:where(:not(.not-prose, .not-prose *)) {
    font-variant-ligatures: none;
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    line-height: 2;
  }

  .prose table:where(:not(.not-prose, .not-prose *)) {
    table-layout: auto;
    width: 100%;
    font-size: var(--text-sm);
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.4;
  }

  .prose thead:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-th-borders);
  }

  .prose thead th:where(:not(.not-prose, .not-prose *)) {
    color: var(--prose-heading-color);
    vertical-align: bottom;
    padding-inline-end: 0.6em;
    padding-bottom: 0.8em;
    padding-inline-start: 0.6em;
    font-weight: 600;
  }

  .prose thead th:first-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: 0;
  }

  .prose thead th:last-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-end: 0;
  }

  .prose tbody tr:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-td-borders);
  }

  .prose tbody tr:last-child:where(:not(.not-prose, .not-prose *)) {
    border-bottom-width: 0;
  }

  .prose tbody td:where(:not(.not-prose, .not-prose *)) {
    vertical-align: baseline;
  }

  .prose tfoot:where(:not(.not-prose, .not-prose *)) {
    border-top-width: 1px;
    border-top-color: var(--prose-th-borders);
  }

  .prose tfoot td:where(:not(.not-prose, .not-prose *)) {
    vertical-align: top;
  }

  .prose tbody td:where(:not(.not-prose, .not-prose *)),
  .prose tfoot td:where(:not(.not-prose, .not-prose *)) {
    padding-top: 0.8em;
    padding-inline-end: 0.6em;
    padding-bottom: 0.8em;
    padding-inline-start: 0.6em;
  }

  .prose tbody td:first-child:where(:not(.not-prose, .not-prose *)),
  .prose tfoot td:first-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-start: 0;
  }

  .prose tbody td:last-child:where(:not(.not-prose, .not-prose *)),
  .prose tfoot td:last-child:where(:not(.not-prose, .not-prose *)) {
    padding-inline-end: 0;
  }

  .prose th:where(:not(.not-prose, .not-prose *)),
  .prose td:where(:not(.not-prose, .not-prose *)) {
    text-align: start;
  }

  .prose td code:where(:not(.not-prose, .not-prose *)) {
    font-size: 0.8125rem;
  }

  .prose hr:where(:not(.not-prose, .not-prose *)) {
    border-color: var(--prose-hr-color);
    margin-block: calc(var(--spacing) * 16);
  }

  .prose hr:where(:not(.not-prose, .not-prose *)) + h2 {
    margin-top: calc(var(--spacing) * 16);
  }

  .prose :where(h1, h2, h3, h4, h5, h6):where(:not(.not-prose, .not-prose *)) {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
  }

  .prose > :first-of-type:where(h1):where(:not(.not-prose, .not-prose *)) {
    display: none;
  }

  .prose :not(pre) > code:where(:not(.not-prose, .not-prose *)) {
    font-family: var(--font-mono);
    font-weight: var(--font-weight-medium);
    background-color: var(--color-gray-3);
    text-align: center;
    font-size: var(--text-sm);
    user-select: none;
    padding: calc(var(--spacing) * 1);
    line-height: none;
    border-radius: var(--radius-md);
  }

  .prose :not(pre) > code:where(:not(.not-prose, .not-prose *)):before,
  .prose :not(pre) > code:where(:not(.not-prose, .not-prose *)):after {
    content: none;
  }

  .prose .astro-code:where(:not(.not-prose, .not-prose *)) {
    display: block;
  }

  .prose pre:where(:not(.not-prose, .not-prose *)) code {
    background-color: transparent;
  }

  .prose pre:where(:not(.not-prose, .not-prose *)) {
    border: 1px solid var(--color-border);
  }

  .prose blockquote {
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--prose-blockquote-border-color);
    padding-inline-start: calc(var(--spacing) * 4);
    font-style: italic;
  }

  .prose blockquote p:first-of-type:before {
    content: open-quote;
  }

  .prose blockquote p:last-of-type:after {
    content: close-quote;
  }

  .prose
    figure:where(:not(.not-prose, .not-prose *))
    figcaption:where(:not(.not-prose, .not-prose *)) {
    margin-top: calc(var(--spacing) * 3);
    text-align: center;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--prose-color);
    font-style: italic;
  }

  .prose :first-child:where(:not(.not-prose, .not-prose *)) {
    margin-top: 0;
  }

  .prose :last-child:where(:not(.not-prose, .not-prose *)) {
    margin-bottom: 0;
  }

  .grid-stack {
    display: grid;
    place-items: center;
    > * {
      grid-area: 1 / 1;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Berkley Mono";
    src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Berkley Mono";
    src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Cooper";
    src: url("/src/assets/cooper-bt-light.woff2") format("woff2");
  }

  @keyframes blink {
    0%,
    100% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
  }

  @keyframes checkboxFill {
    0% {
      stroke: var(--accent);
    }
    100% {
      stroke: #fff;
    }
  }

  :root {
    --gray-1: hsl(150, 33%, 99%);
    --gray-2: hsl(150, 14%, 97%);
    --gray-3: hsl(160, 10%, 94%);
    --gray-4: hsl(160, 6%, 91%);
    --gray-5: hsl(140, 5%, 88%);
    --gray-6: hsl(160, 4%, 85%);
    --gray-7: hsl(150, 4%, 80%);
    --gray-8: hsl(150, 3%, 73%);
    --gray-9: hsl(157, 3%, 54%);
    --gray-10: hsl(157, 3%, 50%);
    --gray-11: hsl(160, 3%, 38%);
    --gray-12: hsl(154, 12%, 12%);

    --background: var(--gray-1);
    --shadow: hsl(154, 12%, 12%);
    --border: color-mix(in srgb, var(--gray-12) 10%, transparent);
    --accent: #5c7c2f;
  }

  .dark {
    --gray-1: hsl(150, 6%, 7%);
    --gray-2: hsl(150, 4%, 9%);
    --gray-3: hsl(150, 3%, 13%);
    --gray-4: hsl(160, 4%, 16%);
    --gray-5: hsl(160, 3%, 19%);
    --gray-6: hsl(150, 4%, 22%);
    --gray-7: hsl(156, 4%, 28%);
    --gray-8: hsl(154, 4%, 37%);
    --gray-9: hsl(157, 6%, 41%);
    --gray-10: hsl(160, 5%, 47%);
    --gray-11: hsl(160, 5%, 56%);
    --gray-11: hsl(157, 5%, 69%);
    --gray-12: hsl(150, 6%, 93%);

    --accent: #b0e64c;
    --border: color-mix(in srgb, var(--gray-12) 10%, transparent);
  }

  ::selection {
    background: rgba(92, 124, 47, 0.1);
    color: var(--accent);
  }

  body {
    overscroll-behavior-y: none;
    color: var(--gray-11);
    background: var(--background);
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    min-width: 0;
  }

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  strong {
    @apply font-medium;
  }

  .focus {
    @apply outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }

  @view-transition {
    navigation:auto;
  }

  ::view-transition-old(root) {
    @apply animate-out fade-out-0 blur-out-sm duration-400 ease-out
  }

  ::view-transition-new(root) {
    @apply animate-in fade-in-0 blur-in-sm duration-400 ease-out
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition: none !important;
      animation: none !important;
      animation: none !important;
      transition: none !important;
      transform: none !important;
      opacity: 1 !important;
      animation-delay: 0 !important;
    }
  }
}
