@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Berkley Mono";
    src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Berkley Mono";
    src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  :root {
    --gray-1: hsl(60, 20%, 99%);
    --gray-2: hsl(60, 8%, 97%);
    --gray-3: hsl(30, 7%, 94%);
    --gray-4: hsl(40, 6%, 91%);
    --gray-5: hsl(45, 6%, 88%);
    --gray-6: hsl(45, 5%, 85%);
    --gray-7: hsl(48, 5%, 80%);
    --gray-8: hsl(51, 5%, 72%);
    --gray-9: hsl(60, 3%, 54%);
    --gray-10: hsl(60, 2%, 50%);
    --gray-11: hsl(60, 3%, 38%);
    --gray-12: hsl(48, 8%, 12%);

    --background: var(--gray-1);
    --border: hsla(48, 8%, 12%, 0.1);
    --accent: #218090;
  }

  .dark {
    --gray-1: hsl(60, 3%, 6%);
    --gray-2: hsl(60, 2%, 10%);
    --gray-3: hsl(60, 1%, 13%);
    --gray-4: hsl(60, 2%, 16%);
    --gray-5: hsl(60, 3%, 19%);
    --gray-6: hsl(45, 4%, 22%);
    --gray-7: hsl(48, 4%, 28%);
    --gray-8: hsl(43, 4%, 37%);
    --gray-9: hsl(47, 4%, 42%);
    --gray-10: hsl(53, 3%, 47%);
    --gray-11: hsl(45, 5%, 69%);
    --gray-12: hsl(60, 6%, 93%);

    --background: var(--gray-1);
    --border: hsla(60, 6%, 93%, 0.1);
    --accent: #20b8cd;
  }

  ::selection {
    background: rgb(32 184 205 / 0.2);
    color: var(--accent);
  }

  body {
    overscroll-behavior-y: none;
    color: var(--gray-11);
    background: var(--background);
    font-family:
      "Geist",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      "Helvetica Neue",
      sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    min-width: 0;
    border-color: var(--border);
  }

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  strong {
    @apply font-medium;
  }

  .focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }

  .astro-code code {
    background-color: transparent !important;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition: none !important;
      animation: none !important;
      animation: none !important;
      transition: none !important;
      transform: none !important;
      opacity: 1 !important;
      animation-delay: 0 !important;
    }
  }
}
