---
import { AnimateInUp } from "@/components/Motion.tsx";
import Avatar from "@/components/Avatar.astro";

import Layout from "@/layouts/Layout.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import AnimatedListItem from "@/components/AnimatedListItem.astro";
import { EnvelopeIcon } from "@heroicons/react/16/solid";
---
<Layout>
  <div
    class="w-full max-w-prose mx-auto flex flex-col gap-8 mt-16 lg:mt-24 lg:gap-10 px-5"
  >
    <AnimateInUp as="header" className="flex flex-col" client:load>
      <div class="flex items-center gap-4">
        <Avatar />
        <div class="flex flex-col">
          <h1 class="text-base leading-snug font-medium cursor-default">
            Rob Hough
          </h1>
          <h2
            class="text-base leading-snug font-medium text-gray-9"
          >
            Design Engineer at <a href="https://n8n.io" target="_blank" rel="noopener noreferrer" class="underline focus rounded hover:text-primary">n8n</a>
          </h2>
        </div>
      </div>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-8"
      delay={0.2}
      client:load
    >
      <p class="text-base text-primary text-balance">
        Designing beautifully performant and engaging experiences for the web. I also run <a href="https://cushion.so" target="_blank" rel="noopener noreferrer" class="underline focus rounded">cushion.so</a> on the side with <a href="https://davehawkins.co" target="_blank" rel="noopener noreferrer" class="underline focus rounded">Dave Hawkins</a>. Based in the UK/EU.
      </p>
      <div class="flex items-center gap-2">
        <AnimateInUp delay={0.25} as="div" client:load>
          <a href="mailto:robhough180@gmail.com" target="_blank" rel="noopener noreferrer" class="w-fit px-3 py-1.5 rounded-full text-sm bg-gray-3 flex items-center justify-center gap-2 text-center font-medium hover:bg-gray-4 focus">
            <EnvelopeIcon className="size-4.5" />
            Mail
          </a>
        </AnimateInUp>
        <AnimateInUp delay={0.3} as="div" client:load>
          <a href="https://github.com/heymynameisrob" target="_blank" rel="noopener noreferrer" class="w-fit px-3 py-1.5 rounded-full text-sm bg-gray-3 flex items-center justify-center gap-2 text-center font-medium hover:bg-gray-4 focus">
            <svg class="size-4.5" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.49933 0.25C3.49635 0.25 0.25 3.49593 0.25 7.50024C0.25 10.703 2.32715 13.4206 5.2081 14.3797C5.57084 14.446 5.70302 14.2222 5.70302 14.0299C5.70302 13.8576 5.69679 13.4019 5.69323 12.797C3.67661 13.235 3.25112 11.825 3.25112 11.825C2.92132 10.9874 2.44599 10.7644 2.44599 10.7644C1.78773 10.3149 2.49584 10.3238 2.49584 10.3238C3.22353 10.375 3.60629 11.0711 3.60629 11.0711C4.25298 12.1788 5.30335 11.8588 5.71638 11.6732C5.78225 11.205 5.96962 10.8854 6.17658 10.7043C4.56675 10.5209 2.87415 9.89918 2.87415 7.12104C2.87415 6.32925 3.15677 5.68257 3.62053 5.17563C3.54576 4.99226 3.29697 4.25521 3.69174 3.25691C3.69174 3.25691 4.30015 3.06196 5.68522 3.99973C6.26337 3.83906 6.8838 3.75895 7.50022 3.75583C8.1162 3.75895 8.73619 3.83906 9.31523 3.99973C10.6994 3.06196 11.3069 3.25691 11.3069 3.25691C11.7026 4.25521 11.4538 4.99226 11.3795 5.17563C11.8441 5.68257 12.1245 6.32925 12.1245 7.12104C12.1245 9.9063 10.4292 10.5192 8.81452 10.6985C9.07444 10.9224 9.30633 11.3648 9.30633 12.0413C9.30633 13.0102 9.29742 13.7922 9.29742 14.0299C9.29742 14.2239 9.42828 14.4496 9.79591 14.3788C12.6746 13.4179 14.75 10.7025 14.75 7.50024C14.75 3.49593 11.5036 0.25 7.49933 0.25Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            Github
          </a>
        </AnimateInUp>
        <AnimateInUp delay={0.35} as="div" client:load>
          <a href="https://linkedin.com/in/heymynameisrob" target="_blank" rel="noopener noreferrer" class="w-fit px-3 py-1.5 rounded-full text-sm bg-gray-3 flex items-center justify-center gap-2 text-center font-medium hover:bg-gray-4 focus">
            <svg class="size-4.5" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1C1.44772 1 1 1.44772 1 2V13C1 13.5523 1.44772 14 2 14H13C13.5523 14 14 13.5523 14 13V2C14 1.44772 13.5523 1 13 1H2ZM3.05 6H4.95V12H3.05V6ZM5.075 4.005C5.075 4.59871 4.59371 5.08 4 5.08C3.4063 5.08 2.925 4.59871 2.925 4.005C2.925 3.41129 3.4063 2.93 4 2.93C4.59371 2.93 5.075 3.41129 5.075 4.005ZM12 8.35713C12 6.55208 10.8334 5.85033 9.67449 5.85033C9.29502 5.83163 8.91721 5.91119 8.57874 6.08107C8.32172 6.21007 8.05265 6.50523 7.84516 7.01853H7.79179V6.00044H6V12.0047H7.90616V8.8112C7.8786 8.48413 7.98327 8.06142 8.19741 7.80987C8.41156 7.55832 8.71789 7.49825 8.95015 7.46774H9.02258C9.62874 7.46774 10.0786 7.84301 10.0786 8.78868V12.0047H11.9847L12 8.35713Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            LinkedIn
          </a>
        </AnimateInUp>
      </div>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-4"
      delay={0.3}
      client:load
    >
    <h3 class="text-sm font-medium text-gray-10 tracking-tight">Projects</h3>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:gap-12">
      <AnimatedListItem
        href="/work"
        label="Craft"
        description="Collection of motion + interaction work on the web"
        delay={0.3}
        featured
      />
      <AnimatedListItem
        href="https://cushion.so"
        label="Cushion"
        description="Modern async messaging for remote teams"
        delay={0.3}
        external
      />
      <AnimatedListItem
        href="/posts/practical-motion"
        label="Motion UI"
        description="Lessons using motion in web UI interfaces"
        delay={0.4}
      />
      <AnimatedListItem
        href="https://github.com/heymynameisrob/milos-zed-theme"
        label="Milos"
        description="Tangerine and Duckegg flavoured Zed theme"
        delay={0.4}
        external
      />
      <AnimatedListItem
        href="/posts/artificial-io"
        label="Artifical"
        description="Policy inbox for modern specialty (re)insurance"
        delay={0.5}
      />
      <AnimatedListItem
        href="/posts/lantum-rota-ui"
        label="Lantum"
        description="Dashboard for NHS clinician management"
        delay={0.5}
      />
    </ul>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-4"
      delay={0.6}
      client:load
    >
      <footer class="w-full flex items-center gap-2">
        <small class="text-xs text-gray-9">&copy; 2026 heymynameisrob • </small>
        <a href="https://github.com/heymynameisrob/website-25" rel="noopener noreferrer" target="_blank" class="text-xs text-gray-9 underline hover:text-primary">View code</a>
        <ThemeToggle />
      </footer>
    </AnimateInUp>

  </div>
</Layout>
