---
import HomeHeader from "@/components/HomeHeader.astro";
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import { NowPlaying } from "@/components/NowPlaying";

---

<Layout>
  <HomeHeader />
  <section class="flex flex-col gap-2 py-6 lg:py-12">
    <Timeline limit={5} />
  </section>
</Layout>
