---
import { AnimateInUp } from "@/components/Motion.tsx";
import {ReactAvatar} from "@/components/ReactAvatar";

import Layout from "@/layouts/Layout.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import AnimatedListItem from "@/components/AnimatedListItem.astro";
---
<div class="absolute top-5 right-5">
  <ThemeToggle />
</div>
<Layout>
  <div
    class="w-full max-w-prose mx-auto flex flex-col gap-8 mt-16 lg:mt-24 lg:gap-10 px-5"
  >
    <AnimateInUp as="header" className="flex flex-col" client:load>
      <ReactAvatar client:load>
        <h1 class="text-[22px] leading-tight tracking-tighter font-serif cursor-default">
          Rob Hough
        </h1>
      </ReactAvatar>
      <h2
        class="text-[22px] leading-tight tracking-tight font-serif text-gray-9"
      >
        Design Engineer
      </h2>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-8"
      delay={0.15}
      client:load
    >
      <p class="text-base text-primary text-balance">
        Designing performant and engaging experiences for the web. Based in the UK/EU. Available for projects.
      </p>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-4"
      delay={0.2}
      client:load
    >
    <h3 class="text-sm font-medium text-gray-10 tracking-tight">Projects</h3>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:gap-12">
      <AnimatedListItem
        href="/work"
        label="Craft"
        description="Collection of web interface + interaction work"
        delay={0.3}
        featured
      />
      <AnimatedListItem
        href="https://cushion.so"
        label="Cushion"
        description="Modern async messaging for remote teams"
        delay={0.3}
        external
      />
      <AnimatedListItem
        href="/posts/practical-motion"
        label="Motion UI"
        description="Lessons using motion in web UI interfaces"
        delay={0.4}
      />
      <AnimatedListItem
        href="https://github.com/heymynameisrob/milos-zed-theme"
        label="Milos"
        description="Tangerine and Duckegg flavoured Zed theme"
        delay={0.4}
        external
      />
      <AnimatedListItem
        href="/posts/artificial-io"
        label="Artifical"
        description="Policy inbox for modern specialty (re)insurance"
        delay={0.5}
      />
      <AnimatedListItem
        href="/posts/lantum-rota-ui"
        label="Lantum"
        description="Dashboard for NHS clinician management"
        delay={0.5}
      />
    </ul>
    </AnimateInUp>
    <AnimateInUp
      as="section"
      className="flex flex-col gap-4"
      delay={0.6}
      client:load
    >
    <h3 class="text-sm font-medium text-gray-10 tracking-tight">Connect</h3>
    <ul class="flex flex-col gap-1">
      <AnimateInUp delay={0.65} as="li" client:load>
        <a
          href="mailto:robhough180@gmail.com"
          class="text-base text-gray-9 leading-normal text-balance underline decoration-gray-7 hover:decoration-gray-12 hover:text-primary transition-all outline-none focus rounded-md"
          >Email</a
        >
      </AnimateInUp>
      <AnimateInUp delay={0.7} as="li" client:load>
        <a
          href="https://github.com/heymynameisrob"
          target="_blank"
          rel="nofollow noopener"
          class="text-base text-gray-9 leading-normal text-balance underline decoration-gray-7 hover:decoration-gray-12 hover:text-primary transition-all outline-none focus rounded-md"
          >Github</a
        >
      </AnimateInUp>
      <AnimateInUp delay={0.8} as="li" client:load>
        <a
          href="https://linkedin.com/in/heymynameisrob"
          target="_blank"
          rel="nofollow noopener"
          class="text-base text-gray-9 leading-normal text-balance underline decoration-gray-7 hover:decoration-gray-12 hover:text-primary transition-all outline-none focus rounded-md"
          >LinkedIn</a
        >
      </AnimateInUp>
    </ul>
    </AnimateInUp>
  </div>
</Layout>
