---
import HomeHeader from "@/components/HomeHeader.astro";
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import { getCollection } from "astro:content";
import { HOME_POST_LIMIT } from "@/lib/constants";
import { filterPosts } from "@/lib/utils";

const allPosts = await getCollection('posts');
const allValidPosts = filterPosts(allPosts);

const sortedPosts = allValidPosts.slice(0, HOME_POST_LIMIT ? HOME_POST_LIMIT : allValidPosts.length)

---

<Layout>
  <HomeHeader />
  <section class="flex flex-col gap-2 py-6 lg:py-12">
    <Timeline posts={sortedPosts} />
  </section>
</Layout>
