---
import { Content } from "@/content/now.md";
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";
---

<Layout
  title="Now - heymynameisrob"
  description="Everything I'm focusing on right now in my life"
>
  <Prose>
    <h1>Now</h1>
    <p>Some things I've been up to recently</p>
    <Content />
  </Prose>
</Layout>
