---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";

import { ArrowUturnLeftIcon } from "@heroicons/react/16/solid";
import { Demos } from "@/components/demos/DemoWrapper";
---

<Layout title="Work" description="Interactive component demos and UI examples">
  <nav role="navigation" class="flex items-center justify-between p-5">
    <Button size="icon" variant="ghost" href="/"
      ><ArrowUturnLeftIcon className="size-4" /></Button
    >
    <p class="text-sm text-gray-10">Design and build should be insperable.</p>
  </nav>
  <Demos client:load />
</Layout>
