---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";

import { WorkDemos } from "@/components/demos/WorkDemo";
---

<Layout title="Work" description="Interactive component demos and UI examples">
  <Navbar>
    <p class="text-sm text-gray-10">
      <span class="font-medium text-primary mr-1">@heymynameisrob</span>
      Interaction + Motion Work
    </p>
  </Navbar>
  <WorkDemos client:load />
</Layout>
