<div class="w-5 h-5 rounded-full bg-gray-3 overflow-hidden">
  <img
    src="https://ucarecdn.com/75709875-783d-47e9-a60a-6d43e1d5d344/-/preview/100x100/"
    loading="lazy"
    alt="Rob Hough"
    class="object-fit w-full h-full"
  />
</div>
