---
import Layout from "@/layouts/Layout.astro";
import Avatar from "@/components/Avatar.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import Button from "@/components/Button.astro";

import { ReactAvatar } from "@/components/ReactAvatar";
import { ProfileMenu } from "./ProfileMenu";
---

<nav role="navigation" class="flex items-center justify-between p-5 lg:p-8">
  <ProfileMenu client:only="react">
    <Avatar slot="fallback" />
  </ProfileMenu>
  <div class="shrink-0 flex items-center justify-end gap-1 -mx-2">
    <Button size="sm" variant="ghost" href="mailto:robhough@hey.com"
      >Contact</Button
    >
    <ThemeToggle />
  </div>
</nav>
