---
import Avatar from "@/components/Avatar.astro";

import { Tooltip } from "@/components/Tooltip";
import { Motion, useMotionVariants } from "@/components/Motion";
import { ScrambleText } from "@/components/ScrambleText";
import { SocialLinks } from "@/components/SocialLinks";
const { initial, animate, transition } = useMotionVariants("fadeInUp");
---

<div class="flex flex-col gap-6">
  <Motion
    initial={initial}
    animate={animate}
    transition={{ ...transition }}
    client:load
  >
    <header class="flex items-center gap-1">
      <div class="flex items-center gap-2">
        <Avatar />
        <ScrambleText client:only />
      </div>
      <div class="shrink-0 w-[2px] h-4 bg-secondary animate-blink"></div>
    </header>
  </Motion>
  <Motion
    initial={initial}
    animate={animate}
    transition={{ ...transition, delay: 0.2 }}
    client:load
  >
    <p class="text-balance">
      Design Engineer, UK. I work almost exclusively with early B2B startups. I
      also ship a few of my own projects. I also speak about design. Elsewhere,
      I travel in my camper, ride motorcycles, and collect records.
      <a href="/now"
        ><span
          class="relative top-0.5 text-secondary inline-flex items-center p-1 h-3 rounded bg-gray-3"
          >•••</span
        ></a
      >
    </p>
  </Motion>
  <SocialLinks client:load />
</div>
