---
import CushionIcon from "@/assets/cushion.svg";
---

<header
  class="py-32 lg:py-[10vh] xl:py-56 x-5 flex flex-col justify-center items-center text-center animate-in fill-mode-backwards fade-in slide-in-from-bottom-4 duration-500 ease-out delay-200"
>
  <h1
    class="text-lg max-w-prose xl:text-2xl xl:leading-[1.66em] xl:tracking-tight xl:text-balance"
  >
    <span>Rob Hough is an independent design engineer based in the</span>
    <div class="inline-block align-middle size-8 rounded-full bg-gray-4 mx-0.5">
    </div>
    <span>English countryside. </span>
    <br />
    <span
      >Partnering with B2B startups, his work focuses on performant and engaging
      customer experiences. He also co-founded</span
    >
    <a href="https://cushion.so" class="group">
      <div
        class="relative inline-block align-middle size-8 rounded-full mx-0.5 shadow-md bg-black bg-gradient-to-t from-black to-gray-12 text-white scale-100 transition-all will-change-auto duration-200 ease-out group-hover:scale-110 dark:to-gray-3"
      >
        <div class="absolute inset-0 grid place-items-center scale-125">
          <CushionIcon />
        </div>
      </div>
      <span class="text-accent underline-offset-2 underline">cushion.so</span>
    </a>
    <span>, an async alternative to Slack for small remote teams.</span>
  </h1>
</header>
