---
import { Image as AstroImage } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
  ratio?: number;
}
const { src, alt, ratio } = Astro.props;

---
<a
  href={src}
  target="_blank"
  rel="noopener nofollow"
  class="block no-underline"
>
  <figure class="flex flex-col justify-center gap-1">
    <div class="w-full rounded-lg overflow-hidden border border-primary" style={`aspect-ratio: ${ratio || 16/9}`}>
      <AstroImage
        src={src}
        alt={alt}
        class="w-full h-full object-cover"
        width={800}
        height={450}
      />
    </div>
    <figcaption class="text-center text-sm text-secondary">
      {alt}
    </figcaption>
  </figure>
</a>
