<div class="not-prose mt-12 flex w-full items-center justify-center gap-1">
  <div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div>
</div>
