<div class="not-prose my-12 flex w-full items-center justify-center gap-1 xl:my-24 ">
  <div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
    class="h-0.5 w-8 rounded-full bg-gray-4"
  >
  </div>
</div>
